.traffic-light-page {
  min-height: calc(100vh - 80px);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.traffic-light-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}